.one{
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

p{
    color: rgb(31, 9, 160);
    text-align: center;
}

h1{
    text-align: center;
}

*{
    background-color: rgb(59, 241, 232);
}