.one{
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

p{
    color: rgb(31, 9, 160);
    text-align: center;
}

h1, h2, h4, ol{
    text-align: center;

}

*{
    background-color: rgb(59, 241, 232);
}

li{
    text-align: center;
    list-style-position: inside;
}

/** still trying to line up the ul and eventually ol lists so the dots line 
up in the center. **/